/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

// HOMEPAGE
.hero-slider {
	background-color: #faf3ff;

	.slide-content-block {
		padding: 10px 0;
		text-align: center;
	}

	img {
		width: 100%;
	}
}

.conference-block {
	margin: 0 0 20px 0;
	text-align: center;

	h2 {
		color: $blackish;
		font-size: 20px;
		text-transform: uppercase;
	}

	&:last-of-type {
		margin: 0;
	}
}

// FAQ PAGE
.faq-section {
	border-top: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
	border-left: 1px solid #f3f3f3;
	margin: 0 0 20px 0;

	h2 {
		background-color: #eeeeee;
		border-bottom: 1px solid #f3f3f3;
		margin: 0;
		padding: 10px;
	}

	.faq-question {
		border-bottom: 1px solid #f3f3f3;
		display: block;
		padding: 10px 10px 10px 40px;
		position: relative;

		&.active {
			background-color: #e3cef7;
		}

		&:before {
			content: '\f128';
			font-family: $fa4;
			font-size: 45px;
			left: 5px;
			opacity: 0.5;
			position: absolute;
			top: 50%;
			transform: translateY( -50% );
		}
	}

	.faq-answer {
		background-color: #f9f9f9;
		border-bottom: 1px solid #f3f3f3;
		display: none;
		padding: 10px;
	}
}

// CONTACT PAGE
.social-block {

	.flexxed {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		max-width: 225px;
	}

	a.social-icon {
		border: 2px solid #e3cef7;
		border-radius: 50%;
		color: #e3cef7;
		display: inline-block;
		height: 35px;
		padding: 4px 0 0 0;
		position: relative;
		text-align: center;
		width: 35px;
	}
}

.contact-block {
	border-bottom: 1px solid #f3f3f3;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;

	&:last-of-type {
		border: 0;
	}
}

.contact-form {
	border: 1px solid #f3f3f3;
	background-color: #f9f9f9;
	padding: 15px;
}

input[type=submit].wpcf7-submit {
	background-color: $green;
	box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.07);
	color: $lightest;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
}

// GENERAL
.page-banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75px;
}

.main-information {
	margin: 0 0 20px 0;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}