.site-header {
    background: $accent;
    box-shadow: $light-shadow;
    color: $lightest;
    position: fixed;
    width: 100%;
    z-index: 99997;

    a {
        color: $lightest;

        &:hover {
            color: $green;
        }
    }

    .top-header {
        padding: 10px 0;
    }
    
    .header-contact {
        display: none;
    }

    .bottom-header {
        background: $dkaccent;
        display: none;
    }
}

.header-search {

    input[type=search] {
        border: 0;
    }
}
